.bkcolor{
	background-color: black; 
}

*{

	margin: 20; 
	padding: 10;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: #dddddd;
	font-family: 'Flamenco', cursive;
}

header{
	background-size: cover;
	background-repeat: no-repeat;
	height: 30vh;
}

div h1{
	text-align: center;
	font-size: 60px;
}

footer{
	background-color: #dddddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
	color: black
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

.row:after{
	content: '';
	display: table;
	clear: both;
}
.left-column{
	float: left;
	margin-left: 30px;
	width: 900px;
}

.right-column{
	float: right;
	margin-right: 0px;
	margin-left: 0px;
	width:250px;
}

.card{
	padding: 5px;
	background: grey;
	margin-top: 20px;
	margin-left: 20px;
}

.card img{
	width: 100%;
}

.right-column .card img{
	margin-bottom: 10px;
	margin-left: 10px;
}


.mobile-icon{
	display: none;
}
.container{
	color: solid black;

}

/*            RESPONSIVE            */
@media(max-width: 800px){
	.left-column, .right-column{
		width: 100%;
		padding: 0px;

	}
}

@media only screen and (max-width: 1180px){
	.main-content-header{
		width: 100%;
		padding: 0 2px;
	}
}

@media only screen and (max-width: 998px){
	h1{
		font-size: 200%;
	}
}

@media only screen and (max-width: 768px){
	h1{
		font-size: 180%;}

	.main-nav{
		display:none;}

	.mobile-icon{
		display: inline-block;
		color: #fff;
		float: right;
		margin-top: 30px;
		margin-right: 10px;
	}

	.main-nav{
		float: left;
	}

	.main-nav li{
		display: block;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 480px){
	h1{
		font-size: 160%;
	}
}




